demo_iso/
limine/
limine-tools/
limine.conf
OS-TREE.txt
.vscode/
linker-scripts/
/bin/
/obj/
iso_root/
rootfs/
cervus_disk.img
log.txt
usr/tcc/tcc-0.9.27/
usr/tcc/*.tar.bz2
usr/tcc/tcc.elf
usr/tcc/libtcc1.a
usr/tcc/*.o
usr/lib/libcervus/*.o
usr/lib/libcervus/*.a
usr/lib/libcervus/**/*.o
usr/sysroot/usr/bin/
usr/sysroot/usr/lib/
usr/installer/*.elf
usr/apps/*.elf
usr/bin/*.elf